# Adding Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Reading in CSV files

In [2]:
#read in primary CSV file for movies on Netflix, Hulu, Prime Video, and Disney+
csv_file = "Resources/all_movies_on_platforms.csv"
all_platforms_df = pd.read_csv(csv_file)
all_platforms_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [3]:
#read in CSV for Netflix Original movies
other_csv_file = "Resources/netflix_original_movie_data.csv"
netflix_df = pd.read_csv(other_csv_file)
netflix_df.head()

,Unnamed: 0,Title,Directed by,Produced by,Screenplay by,Based on,Starring,Music by,Cinematography,Edited by,...,Turkish,Indonesian,German,Norwegian,Polish,Music,Lyrics,Book,Basis,Productions
0,0,Beasts of No Nation,Cary Joji Fukunaga,Amy Kaufman Cary Joji Fukunaga Daniela Taplin ...,Cary Joji Fukunaga,"['Beasts of No Nation', 'by Uzodinma Iweala']",Idris Elba Abraham Attah Kurt Egyiawan Jude Ak...,Dan Romer,Cary Joji Fukunaga,Mikkel E. G. Nielsen Pete Beaudreau,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,The Ridiculous 6,Frank Coraci,Allen Covert Adam Sandler Ted Sarandos,NaN,NaN,Adam Sandler Terry Crews Jorge Garcia Taylor L...,Rupert Gregson-Williams Elmo Weber,Dean Semler,Tom Costain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"Crouching Tiger, Hidden Dragon: Sword of Destiny",Yuen Woo-ping,Charlie Nguyen Harvey Weinstein,John Fusco,"['Iron Knight, Silver Vase', 'by', 'Wang Dulu']",Donnie Yen Michelle Yeoh,Shigeru Umebayashi,Newton Thomas Sigel,Jeff Betancourt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Pee-wee's Big Holiday,John Lee,"['Judd Apatow', 'Paul Reubens']",NaN,NaN,"['Paul Reubens', 'Joe Manganiello']",Mark Mothersbaugh,Tim Orr,Jeff Buchanan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Special Correspondents,Ricky Gervais,Chris Coen Aaron L. Gilbert Ricky Gervais Ted ...,NaN,"['Envoyés très spéciaux', 'by Simon Michaël & ...",Ricky Gervais Eric Bana Vera Farmiga Kevin Pol...,Dickon Hinchliffe,Terry Stacey,Nicolas Chaudeurge,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Cleaning CSV data

In [4]:
#clean all_platforms
all_platforms_df = all_platforms_df.drop(columns = ["Unnamed: 0", "ID", "Year", "Age", "Type", "Country", "Language"])

In [5]:
#dropping blank rows
all_platforms_df.dropna(inplace=True)

In [6]:
#clean netflix
netflix_df = netflix_df[["Title"]].copy()
netflix_df.head()

                                              Title
0                               Beasts of No Nation
1                                  The Ridiculous 6
2  Crouching Tiger, Hidden Dragon: Sword of Destiny
3                             Pee-wee's Big Holiday
4                            Special Correspondents

In [8]:
#mean of IMDb
all_platforms_df["IMDb"].mean()

6.375431976166832

In [9]:
#removing % from Rotten Tomatoes
all_platforms_df['Rotten Tomatoes'] = all_platforms_df['Rotten Tomatoes'].str.replace('%', '')
all_platforms_df.head(10)

,Title,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Runtime
0,Inception,8.8,87,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller",148.0
1,The Matrix,8.7,87,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",136.0
2,Avengers: Infinity War,8.5,84,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",149.0
3,Back to the Future,8.5,96,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",116.0
4,"The Good, the Bad and the Ugly",8.8,97,1,0,1,0,Sergio Leone,Western,161.0
5,Spider-Man: Into the Spider-Verse,8.4,97,1,0,0,0,"Bob Persichetti,Peter Ramsey,Rodney Rothman","Animation,Action,Adventure,Family,Sci-Fi",117.0
6,The Pianist,8.5,95,1,0,1,0,Roman Polanski,"Biography,Drama,Music,War",150.0
7,Django Unchained,8.4,87,1,0,0,0,Quentin Tarantino,"Drama,Western",165.0
8,Raiders of the Lost Ark,8.4,95,1,0,0,0,Steven Spielberg,"Action,Adventure",115.0
9,Inglourious Basterds,8.3,89,1,0,0,0,Quentin Tarantino,"Adventure,Drama,War",153.0

In [10]:
#convert to integer
all_platforms_df['Rotten Tomatoes'] = all_platforms_df['Rotten Tomatoes'].astype(int)

In [11]:
#mean of Rotten Tomatoes
all_platforms_df["Rotten Tomatoes"].div(10).mean()

6.533108242303872

In [12]:
#convert to integer
all_platforms_df['Netflix'] = all_platforms_df['Netflix'].astype(int)

In [13]:
#count of Netflix titles
(all_platforms_df['Netflix'] == 1).sum()

1399

In [14]:
#convert to integer
all_platforms_df['Hulu'] = all_platforms_df['Hulu'].astype(int)

In [15]:
#count of Hulu titles
(all_platforms_df['Hulu'] == 1).sum()

622

In [16]:
#convert to integer
all_platforms_df['Prime Video'] = all_platforms_df['Prime Video'].astype(int)

In [17]:
#count of Prime Video titles
(all_platforms_df['Prime Video'] == 1).sum()

2989

In [18]:
#convert to integer
all_platforms_df['Disney+'] = all_platforms_df['Disney+'].astype(int)

In [19]:
#count of Disney+ titles
(all_platforms_df['Disney+'] == 1).sum()

342

In [20]:
#count of Directors by Title
director_df = all_platforms_df.groupby('Directors')['Title'].nunique()
director_df.to_csv("Resources/director_count.csv")

# Merging Dataframes

In [21]:
#merging the dataframes together to identify Netflix original movies
netflix_orig_df = all_platforms_df=pd.merge(all_platforms_df,netflix_df, on='Title', how='inner')
netflix_orig_df

,Title,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Runtime
0,The Irishman,7.9,96,1,0,0,0,Martin Scorsese,"Biography,Crime,Drama",209.0
1,Marriage Story,8.0,95,1,0,0,0,Noah Baumbach,"Comedy,Drama,Romance",137.0
2,Drive,7.8,92,1,0,1,0,Nicolas Winding Refn,"Crime,Drama",100.0
3,Klaus,8.2,94,1,0,0,0,"Sergio Pablos,Carlos Martínez López","Animation,Adventure,Comedy,Family",96.0
4,To All the Boys I've Loved Before,7.2,97,1,0,0,0,Susan Johnson,"Comedy,Drama,Romance",99.0
...,...,...,...,...,...,...,...,...,...,...
230,Chicken Run,7.0,97,0,1,0,0,"Peter Lord,Nick Park","Animation,Adventure,Comedy,Drama,Family",84.0
231,Evelyn,7.0,64,0,0,1,0,Bruce Beresford,Drama,94.0
232,Extinction,5.8,20,0,0,1,0,Ben Young,"Action,Drama,Sci-Fi,Thriller",95.0
233,House Arrest,5.8,10,0,0,1,0,Harry Winer,"Comedy,Family",108.0
234,Pinocchio,7.4,100,0,0,0,1,Matteo Garrone,"Drama,Fantasy",120.0

# Connected to Database

In [22]:
#connect to local database
rds_connection_string = "postgres:postgres@localhost:5432/streaming_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [23]:
#check for tables
engine.table_names()

['netflix_originals']

In [24]:
#Added data to table and check for table name
netflix_orig_df.to_sql(name='netflix_originals', con=engine, if_exists='append', index=False)
engine.table_names()

['netflix_originals']

In [25]:
#Read data from the database. First five rows
pd.read_sql_query('select * from netflix_originals', con=engine).head()

,Title,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Runtime
0,The Irishman,7.9,96,1,0,0,0,Martin Scorsese,"Biography,Crime,Drama",209.0
1,Marriage Story,8.0,95,1,0,0,0,Noah Baumbach,"Comedy,Drama,Romance",137.0
2,Drive,7.8,92,1,0,1,0,Nicolas Winding Refn,"Crime,Drama",100.0
3,Klaus,8.2,94,1,0,0,0,"Sergio Pablos,Carlos Martínez López","Animation,Adventure,Comedy,Family",96.0
4,To All the Boys I've Loved Before,7.2,97,1,0,0,0,Susan Johnson,"Comedy,Drama,Romance",99.0

In [26]:
pd.read_sql_query('''select * from netflix_originals Where netflix_originals."Runtime">= 137;''', con=engine).head()

,Title,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Runtime
0,The Irishman,7.9,96,1,0,0,0,Martin Scorsese,"Biography,Crime,Drama",209.0
1,Marriage Story,8.0,95,1,0,0,0,Noah Baumbach,"Comedy,Drama,Romance",137.0
2,The King,7.2,70,1,0,0,0,David Michôd,"Biography,Drama,History,Romance,War",140.0
3,22-Jul,6.8,80,1,0,0,0,Paul Greengrass,"Crime,Drama,History,Thriller",143.0
4,Beasts of No Nation,7.7,91,1,0,0,0,Cary Joji Fukunaga,"Drama,War",137.0